<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
        <img src="../static/image/female.jpg/">
        <br>
        <b>{{ detailed_service.name }}</b>
        <p>Năm sinh: {{ detailed_service.yob }} </p>
        <p>Chiều cao: {{ detailed_service.height}}</p>
        <p>Số điện thoại: {{ detailed_service.phone }}</p>
        <p>Địa chỉ: {{ detailed_service.address }}</p>
        <p>Mô tả: {{ detailed_service.description }}</p>
        <p>Số đo: {{ detailed_service.measurement }}</p>
</body>
</html>